/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

	nav.primary {
		background-color: @secondaryColor;
		width: 100%;
		float: left;
	}    
	
    nav.primary a {
        float: left;
        width: @linkWidthInt;
        margin-right: 5px;
        padding: 20px 10px;
        margin-bottom: 0;
    }
    
    nav.primary li {
	    padding: 0;
    }

    nav.primary li:first-child a {
        margin-left: 0;
    }

    nav.primary li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav.primary ul li {
        display: inline;
    }

    .oldie nav.primary a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* WIDE: Menu (moved to  min-width: 1140px) */

/* ============
    WIDE: Main
   ============ */

    .main main {
	    float: @mainFloat;
        width: @mainWidth;
    }

    .main aside {
        float: @asideFloat;
        width: @asideWidth;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: @maxWidth;
        margin: 0 auto;
    }
    
/* ============
    WIDE: Menu (moved from min-width: 768px)
   ============ */

    .banner {
        float: @bannerFloat;
    }

    nav.primary {
        float: @navFloat;
        width: @navWidthWide;
		margin-top: 60px;
    }
    
    nav.primary a {
	    padding-top: 30px;
	    padding-bottom: 30px;
    }
}