/* ==========================================================================
   Variables
   ========================================================================== */

// Import Fonts from google font directory
// --------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

// Global values
// --------------------------------------------------
@primaryColor:				#2980B9;
@secondaryColor:			#2C3E50;
@titleColor:				white;
@gray:						#eee;
@headerback:				#2D2D2D;


// Scaffolding
// -------------------------
@bodyBackground:			#fff;

// Links
// -------------------------
@linkColor:					white;
@linkTextHoverColor:		white;
@altLinkColor:				black;
@linkColorHover:        	@secondaryColor;
@linkWeight:				bold;
@linkDecoration:			none;

// Scaffolding
// -------------------------
@bodyBackground:        	white;
@textColor:             	red;
@asideTextColor:			white;

// Buttons
// -------------------------
@buttonBackground:        	@secondaryColor;
@buttonBackgroundHover:		@primaryColor;
@buttonText:             	white;
@buttonBorder:				black;
@buttonBorderWidth:			0px;

// Typography
// -------------------------
@fontFamily:        		'Vollkorn', serif;

// Layout
// -------------------------
@wrapperWidth:				90%;
@sideMargin:				(100% - @wrapperWidth) / 2;
@asidePadding:				5%;

// Homepage Column Layout
// -------------------------
@columnWidth:				20%;
@columnMargin:				5%;
@ctaWidth:					22%;
@ctaMargin:					4%;

// Responsive Layout
// -------------------------
@asideFloat:				right;
@mainFloat:					left;
@bannerFloat:				left;
@navFloat:					right;

// Responsive Primary Navigation
// -------------------------
@linkWidthInt:				auto; // originally 27%;
@navWidthWide:				auto; // 38%;

// Responsive Layout - Wide
// -------------------------
@mainWidth:					57%;
@asideWidth:				28%;
@maxWidth:					1026px; /* 1140px - 10% for margins */