/* ==========================================================================
   Variables
   ========================================================================== */

// Import Fonts from google font directory
// --------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

// Global values
// --------------------------------------------------
@primaryColor:				#f16529;
@secondaryColor:			#e44d26;


// Scaffolding
// -------------------------
@bodyBackground:			#fff;
@textColor:					#f00;

// Links
// -------------------------
@linkColor:					white;
@linkColorHover:        	@secondaryColor;
@linkWeight:				bold;
@linkDecoration:			none;

// Scaffolding
// -------------------------
@bodyBackground:        	white;
@textColor:             	black;

// Buttons
// -------------------------
@buttonBackground:        	@secondaryColor;
@buttonBackgroundHover:		@primaryColor;
@buttonText:             	white;
@buttonBorder:				black;
@buttonBorderWidth:			0px;

// Typography
// -------------------------
@fontFamily:        		'Open Sans', sans-serif;

// Layout
// -------------------------
@wrapperWidth:				90%;
@sideMargin:				100% - @wrapperWidth / 2;